
    <footer class="footer">
        <img class="logo-footer" src="/images/white_logo.png">

        <div class="footer-section col-md-12">
            <div class="service-section col-md-4">
                <a href="/services"><span class="half-a-border-on-bottom tittle">SERVICES</span></a>
                <a href="/ourtech"><span class="item"> OUR TECHNOLOGY </span></a>
                <a href="/manpower"><span class="item">MANPOWER AND TRAINING </span></a>
                <a href="/quality"><span class="item">QUALITY, HEALTH, SAFETY AND CARE </span></a>
            </div>

            <div class="contact-section col-md-4">
                <a class="half-a-border-on-bottom tittle" style="color: #858585;" href="/contact"> CONTACT US </a>
            </div>

            <div class="other-section col-md-4">
                <span class="half-a-border-on-bottom tittle">OTHER</span>
                <a href="/manpower"><span class="item">MANPOWER AND TRAINING</span></a>
                <a href="/quality"><span class="item">QUALITY, HEALTH, SAFETY AND ENVIRONMENTAL CARE</span></a>
            </div>

        </div>
        <div class="col-md-12">
        <p class="copyright"> ©2021 OBRRA PRIMATA DESIGN · Made in ANGOLA</p>
</div>
    </footer>