
    <footer class="footer">
        <img class="logo-footer" src="/images/white_logo.png">

        <div class="footer-section">
            <div class="service-section">
                <span class="half-a-border-on-bottom tittle">SERVICES</span>
                <span class="item">OUR TECHNOLOGY </span>
                <span class="item">MANPOWER AND TRAINING </span>
                <span class="item">QUALITY, HEALTH, SAFETY AND CARE </span>
            </div>

            <div class="contact-section">
                <a class="half-a-border-on-bottom tittle" style="color: #858585;" href="/contact"> CONTACT US </a>
            </div>

            <div class="other-section">
                <span class="half-a-border-on-bottom tittle">OTHER</span>
                <span class="item">MANPOWER AND TRAINING</span>
                <span class="item">QUALITY, HEALTH, SAFETY AND ENVIRONMENTAL CARE</span> 
            </div>

        </div>
        <p class="copyright"> ©2021 OBRRA PRIMATA DESIGN · Made in ANGOLA</p>
    </footer>