
    <nav class="main-menu">
        <img class="logo-nav" src="/images/black_logo.png">
        <i class="fas fa-globe default-search"></i>
        <ul class="menu-operations">
            <li class="main-item"> <a style="text-decoration: none;" href="/"> Home </a></li>
            <li class="main-item"> <a style="text-decoration: none;" href="/"> About us </a> </li>
            <li class="main-item"> Services </li>
            <li class="main-item"> <a style="text-decoration: none;" href="/contact"> Contact Us </a> </li>
        </ul>
    </nav>