<nav class="navbar navbar-white navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#" style="width: 181px;"><img class="logo-nav"
                    src="/images/black_logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse menu-options">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/ourtech"> About us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>

            </ul>
            <div class=" navbar-right">
                <i class="fas fa-globe default-search"></i>
            </div>
        </div>
    </div>
</nav>