<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEA</title>
    <style>
        body{
            margin: 0px;
        }
.navbar{
    position: relative;
    background-color: #000;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.quality-text{
    color: var(--unnamed-color-ffffff);
text-align: left; 
letter-spacing: 4.8px;
color: #FFFFFF;
opacity: 1;
}
.full-width{
    width: 100%;
}
.intro-div{
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #CFCFD029 0%, #303032B0 53%, #313132E0 80%, #313132 100%) 0% 0% no-repeat padding-box;
}
        /*already responsive*/
        .banner {
    opacity: 0.8;
  width: 100%;
  height: 669px; 
  background-position: center center;
  background-size: cover;
  position: relative;
  display: block;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    </style>
</head>
<body>
    <nav class="navbar">
    <div class="container ">
        <img class="banner" src="images/banner.jpg">
        <div class="centered"> <p  >  QUALITY, HEALTH, SAFETY AND ENVIRONMENTAL CARE </p></div>
    </div>

    <div class="full-width intro-div" > </div>
</nav>
</body>
</html>