<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <title>EEA</title>
    
</head>
<body>
    <nav class="main-menu">
        <i class="fas fa-search default-search"></i>
        <ul class="menu-operations">
            <li class="main-item"> Home </li>
            <li class="main-item"> About us </li>
            <li class="main-item"> Services </li>
            <li class="main-item"> Contact Us </li>
        </ul>
    </nav>
    
    <section class="container ">
        <img class="banner" src="images/home-estaleiro.jpg">
        
        <div class="left-tittle"> 
            <p  class="banner-tittle">  
                <span>ESTALEIRO</span>  
                <span>ATLÂNTICO</span> 
                <span>DO AMBOIM</span> 
            </p>
        </div>

        <div class="social-icons-banner">
            <i class="fab fa-facebook-f icons-banner padding-14"></i>
            <i class="fab fa-whatsapp icons-banner"></i>
        </div>
    </section>

    

    <section class="intro">
        <div class="intro-text">
            <div class="separator">
                <div class="line"></div>
                <h6>intro</h6>
              </div>
        </div>
    </section> 
    <section class="intro-section">

        <div class="intro-description">
            <p>
                The Estaleiro Atlantico do Amboim (EAA), 
                is a shipyard <br>
                and energy industry in Angola. 
                The manufacturing yard is <br>
                located at Praia do Kissonde, 
                Porto Amboim, Kwanza-<br>
                Sul, Angola. Specializes in the construction
                of underwater <br>
                 structures and the manufacture of support <br>
                 equipment for<br>
                  the oil and gas industry.
            </p>
        </div>
    </section> 

    <aside class="fabric-img">
        <img src="/images/yard.jpg">
    </aside>

</body>
</html>