@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap");


.footer{
    width: 100%; 
    color: #858585;
    background-color: #313132;
    font-family: "Montserrat", sans-serif;
}

.logo-footer{
    margin: 0 auto;
    display: table;
    width: 100px;
}

.half-a-border-on-bottom {
    border-bottom:1px solid white;
    position: relative;
    margin-bottom: 2%;
  }
  .half-a-border-on-bottom:after {
    padding:0;margin:0;display:block;/* probably not really needed? */
    content: "";
    width:50%;
    height:1.1px;
    background-color:#313132;
    position: absolute;
    right:0;
    bottom: -1px;
  } 

  .item{
      font-size: 11px;
      margin-top: 4%;
  }

  .footer-section{
    padding-left: 10%;
    padding-top: 2%;
  }

  .service-section{
      width: 169px;
      display: inline-block;
  }
  
  .contact-section{  
    display: inline-block;
    position: absolute;
    padding-left: 19%;
  }
  
  .other-section{
    float: right; 
    padding-right: 16%;
  }


  .tittle{
    font-size: 17px;
    text-decoration: none;
    color: #858585;
  }

  a{
    text-decoration: none;
    color: #858585;
  }

  a:hover{
    text-decoration: none;
    color: #fff;
  }