

.left-tittle {
    position: absolute;
    top: 53%;
    margin-left: 42%;
    transform: translate(-50%, -50%);
    width: 35%;
    text-align: left;
    font-weight: 800;
  }

  .banner{
    height: 644px;
    opacity: 0.1;
    padding-top: 2%;
    padding-left: 25%;
  }
  
  .left-tittle,
  span {
    display: table;
  }

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 463px;
}

.banner-tittle {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 6.4px;
} 

.contact-section-form{
  height: 100%;
  margin: 0 auto;
  display: table; 
  padding-bottom: 8%;
}

.label{
  color: #c4c4c4;
  padding-top: 7%;
  padding-bottom: 2%;
}

.input{
  background-color: #707070; 
  opacity: 0.3;
  width: 90%;
}

.textarea{
  background-color: #707070; 
  width: 90%;
}